<template name="about">
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="assets/img/me.png" alt="Stanley">
					<h1>Hi, I'm {{getAdminName}}!</h1>
					<p>Hello everybody. I'm {{getAdminName}}, a scientist by training, an engineer by trade, and a self taught web developer and data wrangler. Welcome to my personal site. I'm looking for projects in Django, Python, and MeteorJS. I'm proficient in Javascript, HTML, CSS, and Ubuntu.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-stats"></span>
				<p>As a scientist, I've developed a chemistry program that evaluates molecular reactions across indefinite timescales.</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-fire"></span>
				<p>As an engineer, I've ensured smooth operations at an electronics firm, oilfield sites, and an air separation unit.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p>As a programmer, I've built sites in MeteorJS and Django and mapped environmental impact of production to Bitcoin.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-book"></span>
				<p>As an entrepreneur, I've founded a successful math and science tutoring company at the height of the recession.</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>THE EXPERIENCE</h4>
				<p>With a decade of experience in science and engineering, I've taught myself several programming languages, frameworks, and database technologies while working in the oilfields. Academically, I possess the equivalent of a double BS in chemistry and math with a minor in economics. I've been self employed as a math tutor for five years, engineered at a consumer electronics firm, remediated oil and gas leaks, engineered at oilfield sites, and operated a cryogenics gas plant. I am currently building computer applications.</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>THE SKILLS</h4>
				Django
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>

				MeteorJS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
						<span class="sr-only">90% Complete</span>
					</div>
				</div>
				
				Python
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						<span class="sr-only">85% Complete</span>
					</div>
				</div>

				HTML/CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
</template>