<template name="footer">
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Info</h4>
					<p>
						Eugene OR 97405<br/>
						alexanderwshea@gmail.com<br/>
						720-229-5303
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="https://www.linkedin.com/in/alexander-shea-942ab570">LinkedIn</a><br/>
						<a href="https://www.facebook.com/profile.php?id=100008459107790">Facebook</a><br />
						<a href="/admin">Admin</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>Hobbies and Interests</h4>
					<p>learning new technologies, reading, yoga, coffee, gardening, bicycles, construction, providing free math lessons, hiking, science, </p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
</template>