<template name="home">
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{{getAdminImage}}" alt="{{getAdminName}}">
					<h1>Hi, I'm {{getAdminName}}!</h1>
					<p>Hello everybody. I'm {{getAdminName}}, a scientist by training, an engineer by trade, and a self taught web developer and data wrangler. Welcome to my personal site. I'm looking for projects in Django, Python, and MeteorJS. I'm proficient in Javascript, HTML, CSS, and Ubuntu.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

	{{> work}}
</template>